body{
    background-color: black;
    color: white;
    overflow-x: auto;
}

.container{
    margin: 0 auto;
}

*{
    margin: 0;
}

.area-black{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

.area-white{
    display: inline-block;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

p{
    margin: 0;
}