@import './../../../styles/Themes.scss';

.game-panel {
    user-select: none;
    transition: all 0.3s ease 0s;
    position: fixed;
    top: calc(50vh - 250px);
    left: 0;
    padding: 40px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    box-sizing: border-box;

    @include themify($themes) {
        background: themed('mainColor');
    }

    @media (max-width: 991px) {
        top: calc(50vh - 200px);
    }

    @media (max-width: 767px) {
        left: calc(15vw - 30px);
        top: 0;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        padding: 0px 30px;
    }


    &__inner {
        height: 420px;
        display: flex;

        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 991px) {
            height: 320px;
        }

        @media (max-width: 767px) {
            flex-direction: row;
            height: 80px;
            width: 70vw;
        }

    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
    }

    &__theme {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
    }

    &__img {
        transition: all 0.3s ease 0s;
        width: 80px;
        height: 80px;

        @media (max-width: 991px) {
            width: 55px;
            height: 55px;
        }

        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
        }

        @include themify($themes) {
            filter: invert(themed('imgInvert'));
        }
    }
}